body {
    font-family: 'Poiret One', cursive;
    font-size: 25px;
}

#heading1 {
    background-color:lavender;
}
#bodytext {
    background-color:lavender;
}

#col1 {
    width:500px;
    position: relative ;
    right:-100px;
}